<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ .Site.Params.description }}">
  
  {{- partial "head.html" . -}}
  {{- block "head" . }} {{- end }}

  <!-- Custom Styles -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/custom.css">

  <title>{{ .Site.Title }}</title>
</head>

<body class="light">
  <!-- Navigation -->
  <header>
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
        <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
        <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>

  <!-- Footer -->
  {{- partial "sections/footer/index.html" . -}}

  <!-- Bootstrap & Scripts -->
  {{- if (or (eq .Site.Params.UseBootstrapCDN true) (eq .Site.Params.UseBootstrapCDN "js")) -}}
  
